In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("plants.csv")

In [5]:
df_sampled = df.sample(frac=0.01, random_state=np.random.RandomState())

In [6]:
df_sampled

,symbol,synonymSymbol,scientificNameWithAuthor,commonName,family
75000,RORU,NaN,Rosa rugosa Thunb.,rugosa rose,Rosaceae
88145,TRCL2,NaN,Trifolium clypeatum L.,shield clover,Fabaceae
66711,PLAR9,PLPUA,Plantago purshii Roem. & Schult. var. argyraea...,NaN,NaN
54029,MEAL8,PAAL23,Parmelia albertana Ahti,NaN,NaN
55791,MILI3,OXGA2,Oxybaphus gausapoides (Standl.) Standl.,NaN,NaN
...,...,...,...,...,...
79782,SECO4,CHHI10,Chaetochloa hispida Scribn. & Merr.,NaN,NaN
56432,MOCO7,LECO9,Lembertia congdonii (A. Gray) Greene,NaN,NaN
34523,EUCO10,EUCOA,Euphorbia corollata L. var. angustifolia Elliott,NaN,NaN
24106,CRUN,CRCH2,Crataegus choriophylla Sarg.,NaN,NaN
70788,PSFA,NaN,Psychotria fauriei (Levl.) Fosberg,Koolau Range wild coffee,Rubiaceae

In [7]:
df_sampled.to_csv("lessPlants.csv")